a:hover, a:active {
  text-decoration: none;
}

blockquote {
  margin-left: 2.03125rem;
  color: hsla(0,0%,0%,0.9);
  font-style: italic;
  border-left: 4px solid #823EB7;
}

blockquote strong {
  font-style: normal;
}
